body{font-family: 'Courier New', Courier, monospace;

}
nav {
    display :flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0.118);
}
ul {
    display: flex;
   margin-right: 5%;
}
li {
    margin: 3%;
    text-decoration: none;
}
.profile{
    padding-left: 3%;
}
.page {
    margin: 25%;
    background-color: rgb(66, 66, 148);
    max-width: 50%;
    text-align: center;
    margin-top: 5%;

}
footer{
    background-color: rgb(34, 145, 145);
}